// * Ejemplos:
// h1 {
//     color: cyan;
// }


// .task-name {
//     font-weight: bold;
//     color: cadetblue;
// }

.task-action {
    cursor: pointer;
}

.tasks-completed {
    color: greenyellow;
    text-decoration: line-through;
}

.tasks-pending {
    font-weight: bold;
    color: coral
}